<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afzaln.mi_chat"
    android:versionCode="10"
    android:versionName="See version.properties">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".MIChatApp">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoActionBarTheme"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.MessagesActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ImageActivity"
            android:theme="@style/Theme.TransparentTheme">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/Theme.PrefTheme">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/Theme.PrefTheme">
        </activity>

        <provider
            android:name=".provider.Provider"
            android:authorities="com.afzaln.mi_chat.provider"
            android:exported="false">
        </provider>

        <receiver android:name=".AlarmReceiver" />

    </application>

</manifest>